@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: 'Russo One', sans-serif;
  margin: 1rem;
  background-color: darkslateblue;
}

h2 {
  font-size: 50px;
  color: white;
}

h1 {
  vertical-align: middle;
  font-size: 45px;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 1);
}

.nav > h1 {
  color: green;
  font-size: 20000px;
}

.about-button {
  position: absolute;
  top: 20px;
  left: 20px;
}

.header > button {
  font-size: 20px;
   width: 100px;
   height: 75px;
   background-color: rgba(255, 255, 255, 0.7)
 }
 
.header > button:hover {
 animation-name: bounce;
 animation-duration: 0.5s;
 animation-timing-function: ease-in-out;
 animation-iteration-count: infinite;
 animation-direction: alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-15%);
  }
}


.settings-button {
  position: absolute;
  top: 20px;
  right: 20px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.about > button {
  font-size: 25px;
}
.links > a {
  border: 2px solid rgba(205, 40, 101, 0.9);
  color: mistyrose;
  text-decoration: none;
  transition: all 0.2s;
  border-radius: 4px;
  padding: 2px 2px 2px 2px;
}

.links > a:hover {
  background-color: rgba(205, 40, 101, 0.9);
}

.links {
  font-size: 20px;
 display: flex;
 justify-content: space-around;
 width: 60vw;
}
.header {
  margin-top: 5px;
  margin-bottom: 20px;
  background-color: rgba(205, 40, 101, 0.9);
  text-align: center;
  box-shadow: 12px 12px 2px 1px rgba(119, 30, 62, 0.6);
  border-radius: 4px;
  min-width: 90%;
  flex: 1;
}

.simul {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-body .simul {
  text-align: center;
  font-size: 45px;
}

.simul > h1 {
  font-size: 45px;
}

.nav-wrapper {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 70vh;
}

.nav-wrapper > * {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.card-holder {
  flex: 3 0;
  perspective: 1000px;
  margin-top: 15px;
  margin-right: 10px;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.card {
  perspective: 1000px;
  margin-top: 15px;
  margin-right: 10px;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.card-body {
  perspective: 1000px;
  flex: 3 0;
  background-color: antiquewhite;
  margin-left: 5px;
  margin-right: 5px;
  user-select: none;
  transform-style: preserve-3d;
  border: 1px solid #f1f1f1;
  font-size: 45px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.card-body > * {
  backface-visibility: hidden;
}

.back > h1 {
  font-size: 200px;
  padding: 5px 5px 5px 5px;
}

.true {
  transform: rotateY(0deg);
  transition: all 0.8s;
  transition-delay: opacity 0.5s;
}

.false {
  transform: rotateY(180deg);
  transition: all 0.8s;
}

.back {
  transform: rotateY(180deg);
  transition: ease-in-out;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  flex: 1;
  text-align: center;
  transition: 0.4s ease-in-out;
}

.nav:hover {
  background-color: rgba(205, 40, 101, 0.9);
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  transition: 0.5s ease-out;
}

.next {
  transform: rotate(180deg);
}

img {
  height: 60vh;
  max-width: 100%;
}

.slide-in {
  transition: 0.5s all;
  background-color: pink !important;
}

.slide-out {
  transform: translateX(-100vw) translateY(100vh) rotate(-30deg);
  transition: 0.5s all;
}

.modal:before {
  height: 1px;
  width: 1px;
}

.modal {
  border-top: 1px solid white;
  border-left: 1px solid white;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 4px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  height: 75%;
  width: 85%;
  z-index: 10;
  position: absolute;
  left: 7.5%;
  background-color: rgba(0, 0, 0, 0.8);
  right: 7.5%;
  transition: all 0.5s;
}

.about {
  color: white;
}

.settings-wrapper {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.settings-wrapper > .control {
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: rgba(0, 0, 0, 0.26);
  padding: 5px 5px 5px 5px;
  width: 25%;
  border: 2px solid rgba(34, 17, 23, 0.9);
  border-radius: 4px;
}

.apply {
  display: flex;
  justify-content: space-evenly
}

.apply > * {
  font-size: 19px;
  min-width: 250px;
  min-height: 50px;
  flex: 1 1 200px;
}

label {
  color: white;
  margin-bottom: 10px;
}

sub {
  color: white;
}

button {
  border-radius: 4px;
  color: #00AD97;
  min-width: 60px;
  background-color: white;
  box-shadow: none;
  border: none;
  transition: all 0.5s;
  margin: 5px 5px 5px 5px;
  border: 2px solid rgba(0, 0, 0, 0);
}

button:hover {
  color: white;
  background-color: rgba(205, 40, 101, 0.9);
  font-size: 18px;
}

@media (max-width: 600px) {
  .settings-wrapper {
    height: 90vh;
  }
  sub {
    display: none;
  }
  .settings {
    position: absolute;
    top: 5%;
    font-size: 15px;
  }
  .apply {
    background: rgba(0, 0, 0, 0.26);
    border: 2px solid rgba(34, 17, 23, 0.9);
    border-radius: 4px;
  }
  .control {
    background-color: unset;
    border: unset;
    margin-top: 5px;
  }
  label {
    margin-bottom: 2px;
  }
  .apply {
    flex-direction: column;
  }

  .apply > * {
    flex: 1 1;
  }
}